html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

.app-container {
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.canvas-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  width: 100%;
  max-width: 512px;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

.game-info {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  color: white;
  font-family: monospace;
  font-size: 12px;
}

p {
  margin: 0;
}

.joystick-zone {
  position: relative;
  touch-action: none;
  flex: 1;
}

.joystick-container {
  display: flex;
  width: 100%;
  height: 100%;
}

#joystick-movement {
  background: rgba(0, 0, 255, 0.2);
}

#joystick-camera {
  background: rgba(0, 255, 0, 0.2);
}
